*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
header{
    width: 100%;
    height: 10%;
    display: flex;
     position: relative;
}

.container{
    width: 100%;
    height: 20em;
    position: absolute;
}
nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px 0px 20px;
}

.first_row{
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #7de9e1;
  font-size: 15px;
  position: absolute;
}
.first_row nav li img{
vertical-align: middle;
}
.first{
    display: flex;
    list-style: none;
    margin-left: 10em;
    align-items: center;

 }
.second{
    display: flex;
    margin-right: 10em;
    font-size: .9em;
}
 .second_row img{
    vertical-align: middle;
}
.second_row{
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 100%;
         margin-top: 5em;
        }

a,button{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
button{
    background-color: #7de9e1;
    padding: 10px;
    margin-right: 10em;
   border: none;  
   margin-left: em;  
}

.third{
    display: flex;
    list-style: none;
    margin-left: 0em;
    align-items: center;   
}

.second_row img{ 
    height: 100px; width: 100px; margin-left: 10em; border-radius: 2em;
}

/* our causes section */
.causes {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.causes-header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.causes h2 {
    color: #3dc3d1;
    text-decoration: underline;
}

.causes-card-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.causes-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}
.causes-card img{
    height: 150px;
    width: 350 px;
}
.causes-card-footer{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    
}

.causes-header{
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5em;
    padding : 0 1.5em 1.5em 0;    
}

.help-us {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.help-us-header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.help-us h2 {
    color: white;
    text-decoration: underline;
}

.help-us h5 {
    color: white;
    margin: 1em 0em 1em 0em;
}

.help-us-card h3 {
    color: white;
}

.help-us-card {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.help-us-card{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    
}



footer{
position: relative;
width: 100%;
bottom: 0;
height: auto;
margin: 0em;
padding: 25px;
background: #373636;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding-bottom: 30px;
font-size: 15px;
}
footer .content{
    display: flex;
   flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer .content .sec{
 margin-right: 20px;
}
footer .content .sec.heading1{
    width: 25%;
padding-right: .5em;
}
footer .content  h3{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .content h3:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #3dc3d1;
}
footer p{
    color: #fff;
    margin-top: 2em;
    font-weight: 100;
    font-size: 15px;
}
.contact{
    margin-top: 20px;

}
.contact ul li {
    color:  #fff;
}
.heading2{
    position: relative;
    width: 20%;
}
.heading2 ul li{
    margin-bottom: 10px;
    list-style: "> ";
    color: #fff;
}
.heading2 ul li a{
    margin-bottom: 10px;
   color:  #fff;
}
.heading3{
    position: relative;
    width: 20%;

}
.heading3 ul li{
    margin-bottom: 10px;
    list-style: "> ";
    color: #fff;
}
.heading3 ul li a{
    margin-bottom: 10px;
   color: #fff;
}

.heading4{
    position: relative;
 width: 20%;
}
.lists{
    margin-top: 2em;
}
#email{
    width: 15em;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 1.5em;
 background-color:  #fff;
 
}
#submit-btn{
  width: 100px;
  padding: 2.5px;
  border-radius: 5px;
  background-color:  #acd9dc;
  
}
.heading4 p{
    margin-bottom: 2em;
}
.copyright{
    display: flex;
    width: 100%;
 position: relative;
  bottom: 0;
  color: #fff;
   background-color: #231f1f;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.social ul{
    list-style: none;
  display: flex;
margin-right: 4em;
}
.social ul li{
    padding-left: 10px;
    color: #fff;
}
.copyright p{
    font-size: .9em;
    margin-left: 2em;
}
main{
    position: relative;
    width:100%;
    margin-top: 12em;
    margin-bottom: 12em;
}
.grant{
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
   margin-top: 2em;
}
.grant img{
    width: 100%;
    height: auto;
    overflow: hidden;
}
 .grant .contentgrant{
    position: absolute;
   color:#fff;   
   bottom:10px;
   top:5em;
   left: 10em;
   width: 50%;
   align-content: center;
   padding: 5em;
}
.grant h2{
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: 300;
    font-family: arial;
}

.contentgrant .imgbutton{
    margin-top: 1.2em;
    display: flex;

}
#donate,#more{
    background-color: #5d555594;
    opacity: .75;
   outline: #fff;
   padding: 10px;
   border-radius: 5px;
   color: #fff;
}



